<app-header name="Édition d'une série"></app-header>

<div class="container-fluid mt--100">
<div class="row">
    <div class="col">
    <div class="card shadow">
        <div class="card-body">
        <form>
            <div class="pl-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="name">Nom</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="season_realsed_at">Date de sortie</label>
                        <input type="text" id="season_realsed_at" name="season_realsed_at" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="season_count">Nombre de saison</label>
                        <input type="text" id="season_count" name="season_count" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="description">Description</label>
                        <textarea name="description" id="description" rows="4" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="description">Critique</label>
                        <textarea name="critique" id="critique" rows="4" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="form-control-label" for="photo">Date de sortie</label>
                        <input type="text" id="photo" name="photo" class="form-control">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success mt-4">Envoyer</button>
            </div>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
</div>
