<div class="container-fuild">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="text-center">Connexion</h1>
                    <div *ngIf="authenticationError" class="text-center text-danger mb-2">
                        {{ authenticationError }}
                    </div>
        
                    <form (ngSubmit)="handleSubmit()" [formGroup]="authenticationForm">
                    <input type="text" id="username" class="form-control mb-3" placeholder="Adresse mail" formControlName="username" autofocus>
                    <input type="password" id="password" class="form-control mb-3" placeholder="Mot de passe" formControlName="password">
                    <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" [disabled]="authenticationForm.invalid">
                        Me connecter
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
