<div class="container mt-5">


  <div class="container text-center mt-3">

    <form [formGroup]="addSerieForm" (ngSubmit)="onSubmitNewSerie()">

      <div class="form-group">
        <label for="title">
          Titre
        </label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>

      <div class="form-group">
        <label for="author">
          Auteur
        </label>
        <input type="text" id="author" class="form-control" formControlName="author">
      </div>

      <div class="form-group">
        <label for="desc">
          Description
        </label>
        <input type="number" id="desc" class="form-control" formControlName="desc">
      </div>

      <div class="form-group">
        <label for="price">
          Prix
        </label>
        <input type="text" id="price" class="form-control" formControlName="price">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="newDealForm.invalid">Modifier !</button>

      <br>

      <a routerLink="/deals" class="card-link">Retour vers les annonces</a>
    </form>

  </div>


</div>
